
<div id="login-page">
<h2>Login trial </h2>
<div id="login"></div>
  <form id="login-form">
    <label for="username">Username</label>
    <input name="username" type="text" id="username" placeholder="Enter username" [(ngModel)]="username"  [class.invalid]="usernameError"
 (input)="usernameError = false"required />
    <label for="password">Password</label>
    <input name="password" type="password" id="password" maxlength="20" placeholder="Enter password" [(ngModel)]="password"  [class.invalid]="passwordError"
 (input)="passwordError = false"required />
    <button type="button" (click)="login()">Log In</button>
    <p class="error" *ngIf="errorMessage">
    {{ errorMessage }}
  </p>
  </form>
</div>
